<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-google" data-id="group-a"><span>常用</span></label>
                        <label for="type-google1" data-id="group-b"><span>搜索</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.google.com/search?q=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key"
                    zhannei="" placeholder="谷歌搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" checked="checked"
                                id="type-google"
                                value="https://www.google.com/search?q="
                                data-placeholder="谷歌搜索">
                            <label for="type-google"><span class="text-muted">谷歌</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type"
                                id="type-baidu"
                                value="https://www.baidu.com/s?wd="
                                data-placeholder="百度一下，你就知道">
                            <label for="type-baidu"><span class="text-muted">百度</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type"
                                id="type-bing"
                                value="https://cn.bing.com/search?q="
                                data-placeholder="微软 Bing 搜索">
                            <label for="type-bing"><span class="text-muted">必应</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type"
                                id="type-google1"
                                value="https://www.google.com/search?q="
                                data-placeholder="谷歌搜索">
                            <label for="type-google1"><span class="text-muted">谷歌</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type"
                                id="type-baidu1"
                                value="https://www.baidu.com/s?wd="
                                data-placeholder="百度一下，你就知道">
                            <label for="type-baidu1"><span class="text-muted">百度</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type"
                                id="type-bing1"
                                value="https://cn.bing.com/search?q="
                                data-placeholder="微软 Bing 搜索">
                            <label for="type-bing1"><span class="text-muted">必应</span></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
</div>
